.light {
  --bg-color: white;
  --bg-color-80: rgba(255, 255, 255, 0.8);
  --font-color: black;
  --button-font-color: white;
  --accent-color: hsl(180, 80%, 25%);
  --accent-color-light: hsl(180, 80%, 30%);
  --accent-color-lighter: hsl(180, 80%, 80%);
  --theme-gray: darkgray;
  --card-color: rgb(250, 250, 250);
  --shadow: grey;
}
.dark {
  --bg-color: hsl(315, 5%, 10%);
  --bg-color-80: rgba(30, 26, 29, 0.8);
  --font-color: lightgrey;
  --button-font-color: black;
  --accent-color: hsl(17, 80%, 70%);
  --accent-color-light: hsl(17, 80%, 80%);
  --accent-color-lighter: hsl(17, 80%, 90%);
  --theme-gray: lightgray;
  --card-color: hsl(315, 5%, 20%);
  --shadow: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}
.App,
.App-header {
  transition: background-color 1.5s ease, color 1.5s ease;
}
.App {
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.accent-color {
  color: var(--accent-color);
}
